body{

background-image:url(../img/fondo2QS.jpg) ;
background-repeat:no-repeat ;
background-attachment: fixed;
background-size: cover;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;


}

#contenido{

    background: white;
    

}

#QS{

    font-size: 15px;
    color: rgb(8, 7, 22);
    line-height: 1.8;
    margin-bottom: 0;

}
.card{

opacity: 0.85;


}

.jumbotron{


    opacity: 0.8;
}

.bd-example{



}

#ant{

background:#37B6FF;
}

#sig{

background:  #37B6FF;

}

#transform{

background: white;


}


@media only screen and (min-width: 1080px) {
    .card {
      width: 50%;
    }
    
  }

.card-text{


    color: black;
}

#titulo{

font-size:50px;

}