#encabezado
{
    text-align: center;        
}
#encabezado h2
{
    color: black;
    font-size: 35px;
    font-family: "Tahoma";        
}
#encabezado h3
{
    font-style: oblique;
    font-size: 20px;
}
#formulario
{
    /*background-color: lightblue; */
    color: black;    
    border-style: dashed;
    border-color: rgb(236, 28, 28);
}
#formulario h2, options
{
    color: black;
}
#contactos
{
    /*background-color: lightblue;            */    
}
#contactos h3
{
    color: black;
}
#pie
{    
    color: black;
    padding: 20px;    
    text-align: center;
    font-family: "Tahoma";        
    font-style: oblique;    
}
